/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
Main Color #087f5b
Grey Color #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #343a40;

  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;

  font-size: 24px;
  font-weight: bold;
}

nav menu section main aside {
  padding-top: 24px;
}

nav {
  background-color: #343a40;
  color: #fff;

  grid-row: 1/ -1;
}
menu {
  background-color: #7048e8;
  grid-column: 2 / -1;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
menu button {
  display: inline-block;
  border: none;
  font-size: 16px;
  background-color: #5f3dc4;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
}
menu button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}

main {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}
section {
  background-color: #e9ecef;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  overflow: scroll;
}
.email {
  background-color: #adb5bd;

  height: 96px;
  /* overflow: scroll; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* display: inline-block;
  font-size: 20px;
  padding: 20px 60px;
  margin-top: 20px; */
}
aside {
  text-align: center;
  background-color: #e9ecef;
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}
